@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --color-buttom-primary: rgb(250, 200, 0);
  --color-rocket: #7159c1;
  --color-buttom-secondary: rgb(250, 150, 150);
  --color-delete-primary: rgb(250, 100, 100);
  --color-delete-secondary: rgb(250,0,0);
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #a3a1a1;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 32px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.links{
  font-size: 20px;
}
.links a{
  color: #777777;
  text-decoration: none;
  position: relative;
}
.links a + a{
  margin-left: 30px;
}
.links a.active{
  font-weight: bold;
  color: var(--color-buttom-primary);
}
.links a:hover{
  font-weight: bold;
  color: var(--color-buttom-secondary);
}
.links a::after{
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--color-buttom-secondary);
  left: 0px;
  bottom: -2px;
}
.links a:hover::after{
  width: 100%;
  transition: width 100ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.card{
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  max-height: 800px;
  box-sizing: border-box;
  background-color: white;
  margin: 32px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 10px 10px 10px #494949;
  animation: up 400ms ease-in-out;
  position: relative;
}
.table-container{
  min-height: 500px;
  display: block;
  box-sizing: border-box;
  padding: 36px;
  border: 3px solid #666666;
  border-radius: 8px;
}
.table-container table{
  border-spacing: 0;
}
.table-container thead tr th{
  text-align: left;  
}
th, td{
  padding: 8px;
  border-bottom: 1px solid #d9d9d9;
}
.table-container thead th:last-child,
tbody tr td:last-child{
  text-align: center;
}
.table-container tbody tr td:first-child{
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 10px;
  align-items : center;
}
.table-container tbody tr #image-id{
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 1px 1px 4px #777;
}
.table-container tbody tr td{
  padding: 8px 0;
}
.table-container tbody tr:last-child td{
  border-bottom: none;
}
/* tbody td:nth-child(2){
  max-width: 300px;
} */

tbody tr td:last-child a,
.card a#buttom-new-id{
  background: var(--color-buttom-primary);
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.card a#buttom-new-id{
  display: inline-block;
  margin-bottom: 16px;
  justify-content: center;
}
tbody tr td:last-child a:hover,
.card a#buttom-new-id:hover{
  color: white;
  background-color: var(--color-buttom-secondary);
}

.card .avatar{
  height: 100%;
  background-size: cover;
  animation-direction: alternate;
  animation: moveImage 30s infinite;
}
.card h3{
  font-weight: bold;
  color: var(--color-buttom-primary);
  margin: 4px 8px;
}
.card .item{
  border-bottom: 2px solid #e0dada;
  padding: 16px 0 16px 10px;
}
.card .item:last-child{
  border-bottom: none;
}
.card .item div:nth-child(1){
  line-height: 24px;
  color: #606060;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: normal;
}
.card .item div:nth-child(2){
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
.details button{
  background-color: khaki;
}
.details span{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  margin: 4px 0;
  background-color: var(--color-buttom-primary);
  padding: 2px 4px;
  border-radius: 16px;
}
.details .item option, select{
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #494949;
}
.details a{
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  margin: 8px 16px;
  background-color: var(--color-buttom-primary);
  padding: 2px 4px;
  border-radius: 16px;
}

/* FORM */
input{
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
}
input[type='radio']{
  width: initial;
  margin-right: 8px;
}
input::placeholder{
  font-size: 16px;
  font-weight: bold;
  color: #303030;
}
button[type='submit'],
a.button,
.table-container tbody tr span.area{
  margin: 8px 0;
  padding: 4px;
  line-height: 24px;
  border-radius: 16px;
  background-color: var(--color-buttom-primary);
  font-weight: bold;
  width: 100%;
}
#form-delete button[type='submit']{
  background-color: var(--color-delete-primary);
}
a.button{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  text-align: center;
}

@keyframes up{
  from{
    opacity: 0;
    transform: translateX(-30px);
  }
  to{
    opacity: 1;
    
  }
}
@keyframes moveImage{
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}