@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #a3a1a1;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 32px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.links{
  font-size: 20px;
}
.links a{
  color: #777777;
  text-decoration: none;
  position: relative;
}
.links a + a{
  margin-left: 30px;
}
.links a.active{
  font-weight: bold;
  color: var(--color-green);
}
.links a:hover{
  color: var(--color-green);
}
.links a::after{
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--color-green);
  left: 0px;
  bottom: -2px;
}
.links a:hover::after{
  width: 100%;
  transition: width 100ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


.card{
  width: 800px;
  box-sizing: border-box;
  min-height: 400px;
  background-color: white;
  margin: 48px auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 10px 10px 10px #494949;
  animation: up 400ms ease-in-out;
}
.card .avatar{
  background: url(https://source.unsplash.com/collection/517198) center center;
  background-repeat: repeat-x;
  background-size: 800px;
  animation-direction: alternate;
  animation: moveImage 30s infinite;
}
.card .item{
  border-bottom: 1px solid #505050;
  padding: 16px 0 16px 10px;
}
.card .item:last-child{
  border-bottom: none;
}
.card .item div:nth-child(1){
  line-height: 24px;
  color: #606060;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: normal;
}
.card .item div:nth-child(2){
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
.details span{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  margin: 4px 8px;
  background-color: var(--color-green);
  padding: 2px 4px;
  border-radius: 16px;
}
.details .item option, select{
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #494949;
}

/* FORM */
input{
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #494949;
}
input[type='radio']{
  width: initial;
  margin-right: 8px;
}
input::placeholder{
  font-size: 16px;
  font-weight: normal;
}
button[type='submit']{
  padding: 8px 16px;
  margin: 8px 16px;
  border-radius: 16px;
  background-color: var(--color-green);
}


@keyframes up{
  from{
    opacity: 0;
    transform: translateX(-30px);
  }
  to{
    opacity: 1;
    
  }
}
@keyframes moveImage{
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}