@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: rgb(54, 53, 53);
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 32px;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.links{
  font-size: 20px;
}
.links a{
  color: #777777;
  text-decoration: none;
  position: relative;
}
.links a + a{
  margin-left: 30px;
}
.links a.active{
  font-weight: bold;
  color: var(--color-rocket);
}
.links a:hover{
  color: var(--color-rocket);
}
.links a::after{
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--color-rocket);
  left: 0px;
  bottom: -2px;
}
.links a:hover::after{
  width: 100%;
  transition: width 100ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}