{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="post" action="/teachers">
    <article
      class="avatar"
      style= "width: 100%; heigth: 100%; background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat center center / cover"></article>

    <article class="details">
      <h3>Registrar Professor</h3>

      {% include 'teachers/field.njk' %}
      
    </article>
  </form>
{% endblock content %}