{% extends "layout.njk" %}

{% block content %}
  <main class="card table-container">
    <a id= "buttom-new-id" href="/teachers/create">Novo</a>
    <table width="100%">
      
      <thead>
        
        <tr>
          <th>Nome Completo</th>
          <th>Área de Atuação</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td>
              <span id="image-id" style="background-image: url({{teacher.avatar_url}})"></span>
              <span id="name-id">{{teacher.name}}</span>
            </td>
              <td>
            {% for area in teacher.subject_taught %}
                <span class="area">{{area}}</span>
            {% endfor %}
              </td>
            <td><a href="teachers/{{teacher.id}}">Ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}