{% extends 'layout.njk' %}

{% block content %}
<form class="card" method="post" action="/teachers">
    <article 
      class="avatar"
      style= "background-image: url({{teacher.avatar_url}})">
      </article>

    <article class="details">

      <div class="item">
        <div>Nome Completo</div>
        <div type="text" name="name">{{teacher.name}}</div>
      </div>
      
      <div class="item">
        <div>Idade</div>
        <div>{{teacher.age}}</div>
      </div>
      
      <div class="item">
        
        <div>Grau de Escolaridade</div>
        
        <div name="level">
          <p>{{teacher.education_level}}</p>
        </div>

      </div>
      
      <div class="item">
        
        <div>Tipo de aula</div>
        
        <span>
          <p>{{teacher.class_type}}</p>
        </span>
      <div class="item">
        <div>Desde</div>
        <span>
          <p>{{teacher.created_at}}</p>
        </span>
      </div>
      <div class="item">
        <div>Area de Atuação</div>
        {% for area in teacher.subject_taught %}
          <span>{{area}}</span>
        {% endfor %}
      </div>
      <a class="button" href="/teachers/{{teacher.id}}/edit">Editar</a>
    </article>
  </form>
{% endblock content %}