{% extends "layout.njk" %}

{% block content %}
  <main class="card">
    <article class="avatar"></article>

    <article class="details">
      <div class="item">
        <div>Nome Completo</div>
        <div>Allan Cássio Ferreira de Freitas</div>
      </div>
      <div class="item">
        <div>Idade</div>
        <div>29 anos</div>
      </div>
      <div class="item">
        <div>Escolaridade</div>
        <div>Médio Completo</div>
      </div>
      <div class="item">
        <div>Tipo de aula</div>
        <div>Presencial</div>
      </div>
      <div class="item">
        <div>Acompanhamento</div>
        <div>Matemática e Fisica</div>
      </div>
      <div class="item">
        <div>Desde</div>
        <div>26/01/2020</div>
      </div>
    </article>
  </main>
{% endblock content %}